table{
	width: 270px;
	margin: 0 auto;
	font-size: 15px;
}


table tr td{
	padding: 10px;
	/*border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #fff;*/
}

#log_reg input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus{
	color: #000;
	border: 1px solid #96a641;
}

#log_reg input[type=submit]{
	padding: 10px;
	font-size: 16px;
	font-weight: normal;
	width: 272px;
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	cursor: pointer;
	text-shadow: 1px 1px 1px #4b4b4b;
}

#log_reg input[type=submit]:hover{
	color: #fff;
	text-shadow: 1px 1px 1px #4b4b4b;
}

input[type=text][name^="user"], input[type=email], input[type=number], input[type=password]{
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #f7f7f7 0%,#ffffff 100%); /* IE10+ */
	padding: 10px;
	font-weight: normal;
	width: 250px;
	color: #d9d9d9;
	height: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #f0f0f0;
	text-shadow: -1px -1px 1px #fff;
}

.clear{
	clear: both;
}

